<div ng-init="init()">
	<form class="form-horizontal" role="form" name="form">
		<fieldset>
			<legend translate="FORM_PRIMARY_TITLE"></legend>
			<div class="form-group">
                <label class="col-md-2 control-label" translate="CONTACT_NAME"></label>
				<div class="col-md-10">
					<input type="text" class="form-control input-sm"
						ng-model="customer.Name" placeholder="name">
				</div>
			</div>
			<div class="form-group">
                <label class="col-md-2 control-label" translate="FORM_ID"></label>
				<div class="col-md-10">
					<input type="text" class="form-control input-sm"
						ng-model="customer.Name">
				</div>
			</div>
			<div class="form-group">
                <label class="col-md-2 control-label" translate="CONTACT_BIRTHDAY"></label>
				<div class="col-md-10">
					<input type="text" class="form-control input-sm"
						ng-model="customer.Name">
				</div>
			</div>
			<div class="form-group">
                <label class="col-md-2 control-label" translate="CONTACT_POST"></label>
				<div class="col-md-10">
					<input type="text" class="form-control input-sm"
						ng-model="customer.Name">
				</div>
			</div>
			<div class="form-group">
                <label class="col-md-2 control-label" translate="CONTACT_SEX"></label>
				<div class="col-md-10">
					<input type="text" class="form-control input-sm"
						ng-model="customer.Name">
				</div>
			</div>
			<div class="form-group">
                <label class="col-md-2 control-label" translate="CONTACT_EDUCATION"></label>
				<div class="col-md-10">
					<input type="text" class="form-control input-sm"
						ng-model="customer.Name">
				</div>
			</div>
            <div class="form-group">
                <label class="col-md-2 control-label" translate="CUSTOMER_COMPANY"></label>
                <div class="col-md-10">
                    <input type="text" class="form-control input-sm"
                           ng-model="customer.Name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" translate="FORM_DEPT"></label>
                <div class="col-md-10">
                    <input type="text" class="form-control input-sm"
                           ng-model="customer.Name">
                </div>
            </div>
		</fieldset>
		<fieldset>
            <legend translate="FORM_SECONDARY_TITLE"></legend>
			<div class="form-group">
                <label class="col-md-2 control-label" translate="FORM_ADDRESS"></label>
				<div class="col-md-10">
					<input type="text" class="form-control input-sm"
						ng-model="customer.Name" placeholder="name">
				</div>
			</div>
			<div class="form-group">
                <label class="col-md-2 control-label" translate="FORM_ZIP"></label>
				<div class="col-md-10">
					<input type="text" class="form-control input-sm"
						ng-model="customer.Name">
				</div>
			</div>
			<div class="form-group">
                <label class="col-md-2 control-label" translate="FORM_TEL"></label>
				<div class="col-md-10">
					<input type="text" class="form-control input-sm"
						ng-model="customer.Name">
				</div>
			</div>
			<div class="form-group">
                <label class="col-md-2 control-label" translate="FORM_CELL"></label>
				<div class="col-md-10">
					<input type="text" class="form-control input-sm"
						ng-model="customer.Name">
				</div>
			</div>
			<div class="form-group">
                <label class="col-md-2 control-label" translate="FORM_FAX"></label>
				<div class="col-md-10">
					<input type="text" class="form-control input-sm"
						ng-model="customer.Name">
				</div>
			</div>
			<div class="form-group">
                <label class="col-md-2 control-label" translate="FORM_EMAIL"></label>
				<div class="col-md-10">
					<input type="text" class="form-control input-sm"
						ng-model="customer.Name">
				</div>
			</div>
		</fieldset>
	</form>
</div>